<div
  class="px-4 md:px-20 w-full h-screen bg-gradient-to-r from-zinc-900 to-gray-900 text-slate-200 border"
>
  <div
    class="max-w-screen-xl p-4 mx-auto flex flex-col justify-center items-center w-full h-full border"
  >
    <div class="pb-8">
      <p
        class="text-4xl font-bold inline border-b-4 border-slate-500 capitalize"
      >
        about
      </p>
    </div>
    <p class="text-xl mt-20">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus dolor
      quaerat rem praesentium, ab harum facere possimus cum architecto ducimus?
      Officiis praesentium, architecto at in ad reprehenderit quos? Asperiores,
      molestiae!
    </p>
    <br />
    <p class="text-xl">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, similique
      officia. Dolorem, autem ratione praesentium ad animi consequatur quam
      magni doloribus repudiandae perspiciatis? Sequi numquam distinctio non hic
      natus. Eaque!
    </p>
  </div>
</div>
