<div
  class="h-screen w-full bg-gradient-to-r from-zinc-900 to-gray-900 text-slate-100 font-inter"
>
  <div
    class="max-w-screen-xl mx-auto grid grid-cols-1 md:grid-cols-2 place-items-center h-full py-8 lg:py-0"
  >
    <div class="flex flex-col justify-center h-full px-8">
      <span class="block w-8 h-1 mb-1 bg-cyan-600 rounded-md"></span>
      <p class="text-base font-medium mb-2 text-slate-400">
        Hi, I'm <span class="capitalize text-cyan-500">snehal patel</span>
      </p>
      <h2
        class="text-4xl sm:text-7xl font-semibold bg-clip-text text-transparent bg-gradient-to-r from-cyan-500 to-blue-500"
      >
        Front End Developer
      </h2>
      <p class="text-slate-400 py-4 max-w-md mb-3">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum suscipit
        similique nulla dolorem incidunt pariatur ut temporibus numquam
        cupiditate asperiores quod, totam velit labore ipsum amet provident.
        Itaque, deleniti voluptatem?
      </p>
      <div>
        <button
          class="font-inter py-4 px-8 font-medium text-slate-200 bg-gradient-to-r from-cyan-500 to-blue-500 tracking-wide"
        >
          Portfolio
        </button>
      </div>
    </div>
    <div class="px-8">
      <img
        src="assets/hero-1.png"
        alt="my hero profile"
        class="mx-auto w-4/5 sm:w-3/4 md:w-full lg:w-4/5"
      />
    </div>
  </div>
</div>
