<main class="pt-20 sm:pt-32 md:pt-0">
  <section
    class="h-screen border border-teal-600 flex justify-center items-center overflow-hidden font-inter"
  >
    <div
      class="max-w-screen-xl m-auto px-7 grid grid-cols-1 md:grid-cols-2 place-items-center gap-8 md:gap-24 border"
    >
      <div class="text-left">
        <span class="block w-8 h-1 mb-1 bg-cyan-600 rounded-md"></span>
        <p class="text-sm font-medium mb-4">
          Hi, I'm <span class="capitalize">snehal patel</span>
        </p>
        <h1 class="text-3xl mb-4 font-semibold">Front-End Developer</h1>
        <p class="mb-8 text-base text-left">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque
          voluptate facere sapiente tempore harum, repellat dignissimos
          voluptatem dolore quisquam possimus, consequuntur ex quam? Expedita
          voluptates placeat sint ratione alias impedit?
        </p>
        <button>Portfolio</button>
      </div>
      <div class="flex justify-center">
        <img src="assets/hero-1.png" alt="my profile" class="w-4/5 md:w-full" />
      </div>
    </div>
  </section>
</main>

<!-- <div
  class="h-screen w-full bg-gradient-to-b from-zinc-900 to-gray-900 text-slate-100"
>
  <div
    class="max-w-screen-lg mx-auto flex flex-col items-center justify-center h-full px-4 md:flex-row"
  >
    <div class="flex flex-col justify-center h-full">
      <h2 class="text-4xl sm:text-7xl font-bold text-slate-100">
        I'm Front-End Developer
      </h2>
      <p class="text-slate-400 py-4 max-w-md">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Non
        necessitatibus ea maxime excepturi id voluptates nobis vitae
        consectetur? Illum exercitationem autem distinctio corrupti doloremque
        nam sint mollitia pariatur blanditiis dicta!
      </p>
      <div>
        <button>Portfolio</button>
      </div>
    </div>
    <div>
      <img
        src="assets/hero-1.png"
        alt="my profile"
        class="rounded-2xl mx-auto w-2/3"
      />
    </div>
  </div>
</div> -->
