<div
  class="px-4 md:px-20 w-full md:h-screen bg-gradient-to-r from-zinc-900 to-gray-900 text-slate-200 font-inter border"
>
  <div
    class="max-w-screen-lg p-4 mx-auto flex flex-col justify-center w-full h-full"
  >
    <div class="pb-8">
      <p class="text-4xl font-bold inline border-b-4 border-slate-500">
        Portfolio
      </p>
      <p class="py-6">Check out some of my work right here!</p>
    </div>

    <div class="grid sm:grid-cols-2 md:grid-cols-3 gap-8 px-12 sm:px-2">
      <div class="shadow-md shadow-slate-600 rounded-lg">
        <img
          src="assets/hero-1.png"
          alt=""
          class="rounded-md duration-200 hover:scale-105"
        />
        <div class="flex items-center justify-center">
          <button class="w-1/2 px-6 py-3 m-4 duration-200 hover:scale-105">
            Demo
          </button>
          <button class="w-1/2 px-6 py-3 m-4 duration-200 hover:scale-105">
            Code
          </button>
        </div>
      </div>
      <div class="shadow-md shadow-slate-600 rounded-lg">
        <img
          src="assets/hero-1.png"
          alt=""
          class="rounded-md duration-200 hover:scale-105"
        />
        <div class="flex items-center justify-center">
          <button class="w-1/2 px-6 py-3 m-4 duration-200 hover:scale-105">
            Demo
          </button>
          <button class="w-1/2 px-6 py-3 m-4 duration-200 hover:scale-105">
            Code
          </button>
        </div>
      </div>
      <div class="shadow-md shadow-slate-600 rounded-lg">
        <img
          src="assets/hero-1.png"
          alt=""
          class="rounded-md duration-200 hover:scale-105"
        />
        <div class="flex items-center justify-center">
          <button class="w-1/2 px-6 py-3 m-4 duration-200 hover:scale-105">
            Demo
          </button>
          <button class="w-1/2 px-6 py-3 m-4 duration-200 hover:scale-105">
            Code
          </button>
        </div>
      </div>
      <div class="shadow-md shadow-slate-600 rounded-lg">
        <img
          src="assets/hero-1.png"
          alt=""
          class="rounded-md duration-200 hover:scale-105"
        />
        <div class="flex items-center justify-center">
          <button class="w-1/2 px-6 py-3 m-4 duration-200 hover:scale-105">
            Demo
          </button>
          <button class="w-1/2 px-6 py-3 m-4 duration-200 hover:scale-105">
            Code
          </button>
        </div>
      </div>
      <div class="shadow-md shadow-slate-600 rounded-lg">
        <img
          src="assets/hero-1.png"
          alt=""
          class="rounded-md duration-200 hover:scale-105"
        />
        <div class="flex items-center justify-center">
          <button class="w-1/2 px-6 py-3 m-4 duration-200 hover:scale-105">
            Demo
          </button>
          <button class="w-1/2 px-6 py-3 m-4 duration-200 hover:scale-105">
            Code
          </button>
        </div>
      </div>
      <div class="shadow-md shadow-slate-600 rounded-lg">
        <img
          src="assets/hero-1.png"
          alt=""
          class="rounded-md duration-200 hover:scale-105"
        />
        <div class="flex items-center justify-center">
          <button class="w-1/2 px-6 py-3 m-4 duration-200 hover:scale-105">
            Demo
          </button>
          <button class="w-1/2 px-6 py-3 m-4 duration-200 hover:scale-105">
            Code
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
