<div
  class="px-4 md:px-20 bg-gradient-to-r from-zinc-900 to-gray-900 text-slate-200 w-full md:h-screen font-inter"
>
  <div class="max-w-screen-lg p-4 mx-auto flex flex-col w-full h-full">
    <div class="pb-8 md:pt-8">
      <p class="text-4xl font-bold inline border-b-4 border-slate-500">
        Skills
      </p>
      <p class="py-6">Check out some of my Skills right here!</p>
    </div>

    <div>
      <div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-center">
          <div class="">
            <img src="assets/skills.png" alt="" />
          </div>
          <div class="">
            <div>
              <h3 class="text-2xl mb-4">Development</h3>
              <div class="flex gap-4 flex-wrap">
                <p class="p-2 bg-gray-800 rounded-md"><span>HTML</span></p>
                <p class="p-2 bg-gray-800 rounded-md"><span>CSS</span></p>
                <p class="p-2 bg-gray-800 rounded-md">
                  <span>JavaScript</span>
                </p>
                <p class="p-2 bg-gray-800 rounded-md"><span>Angular</span></p>
                <p class="p-2 bg-gray-800 rounded-md">
                  <span>TypeScript</span>
                </p>

                <p class="p-2 bg-gray-800 rounded-md">
                  <span>C#</span>
                </p>
              </div>
            </div>

            <div class="mt-8">
              <h3 class="text-2xl mb-4">Framework</h3>
              <div class="flex gap-4 flex-wrap">
                <p class="p-2 bg-gray-800 rounded-md"><span>Angular</span></p>
                <p class="p-2 bg-gray-800 rounded-md"><span>CSS</span></p>
                <p class="p-2 bg-gray-800 rounded-md">
                  <span>Node</span>
                </p>
                <p class="p-2 bg-gray-800 rounded-md"><span>Express</span></p>
              </div>
            </div>

            <div class="mt-8">
              <h3 class="text-2xl mb-4">Version Control</h3>
              <div class="flex gap-4 flex-wrap">
                <p class="p-2 bg-gray-800 rounded-md"><span>Git</span></p>
                <p class="p-2 bg-gray-800 rounded-md"><span>Bitbucket</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
